.rs{
	color:red;font-size:20px;text-align: center;
}
.hed{
	color:#343a40;font-size:20px;
}
.col-lg-3{
	/*border:2px solid;*/
	height:250px;
}
.img1{
    width:250px;
    height:195px;
}
/*div>p>a:hover{

}*/
.col-md-3 p{
	text-align: center;
	color:white;

}
.col-md-3 span{
	font-size: 30px;
	color:white;
}
.col-md-3 a{
	text-decoration: none;
	color:white;
}
.col-lg-6>form>input{
	width:400px;
	border:2px solid;
}